# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
*.egg

# Env
.env

# Project runtime files
audit.log
*.log

# DB files
*.db
*.sqlite

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db